#arena 
{
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 400px;
}

body
{
	background: cornflowerblue;
}

#game-canvas
{
	border: 1.5px solid blue;
}

#score
{
	font: 46px Buxton Sketch;
	text-align: center;
	color: #ff0;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}

#fps
{
	position: absolute;
	margin-top: -2em;
	z-index: 1;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(40,0,80);
	font: 20px Buxton Sketch;
}